<%= form_for @client_asset, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @client_asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_asset.errors.count, "error") %> prohibited this client_asset from being saved:</h2>
      <ul>
      <% @client_asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :referenceable_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :referenceable_type, options_for_select(ClientAsset::TYPE, :selected => @client_asset.referenceable_type) %>
    </div>
  </div>
  <span id="reference_Computer">
    <div class="control-group">
      <%= f.label :referenceable_id, :class => 'control-label' %>
      <div class="controls">
        <% if params[:action] == "edit" or params[:action] == "update" %>
          <%= select_tag "computer_id", options_for_select(@computers.map { |c| [ c.name, c.id ] }, :selected => @client_asset.referenceable.id ) %>
        <% elsif params[:action] == "new" or params[:action] == "create" %>
         <%= select_tag "computer_id", options_for_select(@computers.map { |c| [ c.name, c.id ] }), :width => "30" %>
        <% end %>
      </div>
    </div>
  </span>
  <span id="reference_Device">
    <div class="control-group">
      <%= f.label :referenceable_id, :class => 'control-label' %>
      <div class="controls">
        <% if params[:action] == "edit" or params[:action] == "update" %>
          <%= select_tag "device_id", options_for_select(@devices.map { |c| [ c.name, c.id ] }, :selected => @client_asset.referenceable.id ) %>
        <% elsif params[:action] == "new" or params[:action] == "create" %>
         <%= select_tag "device_id", options_for_select(@devices.map { |c| [ c.name, c.id ] }), :width => "30" %>
        <% end %>
      </div>
    </div>
  </span>
  <span id="reference_Asset">
    <div class="control-group">
      <%= f.label :referenceable_id, :class => 'control-label' %>
      <div class="controls">
        <%= select_tag "asset_id", options_for_select(ClientAsset::ASSETS)%>
      </div>
    </div>
  </span>
  <div class="control-group">
    <%= f.label :client_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :client_name, :class => 'text_field' %>
      <span class="error-indicator">*</span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :project_manager_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :project_manager_id, @employees.map { |e| [ e.name, e.id ] }%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :employee_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :employee_id, @employees.map { |e| [ e.name, e.id ] }%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :department, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :department, :class => 'text_field' %>
      <span class="error-indicator">*</span>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                client_assets_path, :class => 'btn' %>
  </div>
<% end %>
