<%- model_class = Employee -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Employee Associations" %></h1>
</div>

<% if @employee_assets and @employee_assets.count > 0 %>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:emp_no) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:designation) %></th>
      <th><%= model_class.human_attribute_name(:os) %></th>
      <th><%= model_class.human_attribute_name(:ip_address) %></th>
      <th><%= model_class.human_attribute_name(:associable_name) %></th>
      <th><%= model_class.human_attribute_name(:vendor_name) %></th>
    </tr>
  </thead>
  <tbody>
    <% @employee_assets.map do |employee_asset| %>
      <tr>
        <td><%= employee_asset.employee.employee_number %></td>
        <td><%= employee_asset.employee.name %></td>
        <td><%= employee_asset.employee.designation %></td>
        <td><%= employee_asset.associable.os + ' ' + employee_asset.associable.os_version%></td>
        <td><%= employee_asset.associable.ip_address %></td>
        <td><%= employee_asset.associable.name %></td>
        <td><%= employee_asset.associable.vendor.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
 <div>
    Record Not Found
  </div >
<% end %>