<p id="notice"><%= notice %></p>

<p>
  <b>Employee number:</b>
  <%= @employee.employee_number %>
</p>

<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Designation:</b>
  <%= @employee.designation %>
</p>

<p>
  <b>Technology:</b>
  <%= @employee.technology %>
</p>

<p>
  <b>Department:</b>
  <%= @employee.department %>
</p>

<p>
  <b>Branch:</b>
  <%= @employee.branch %>
</p>

<p>
  <b>Join date:</b>
  <%= @employee.join_date %>
</p>

<p>
  <b>Resign date:</b>
  <%= @employee.resign_date %>
</p>

<p>
  <b>Transfered from:</b>
  <%= @employee.transfered_from %>
</p>

<p>
  <b>Transfered to:</b>
  <%= @employee.transfered_to %>
</p>

<p>
  <b>Email:</b>
  <%= @employee.email_id %>
</p>

<p>
  <b>Email password:</b>
  <%= @employee.email_password %>
</p>

<p>
  <b>Skype:</b>
  <%= @employee.skype_id %>
</p>

<p>
  <b>Skype password:</b>
  <%= @employee.skype_password %>
</p>

<p>
  <b>Pm tool:</b>
  <%= @employee.pm_tool_id %>
</p>

<p>
  <b>Pm tool password:</b>
  <%= @employee.pm_tool_password %>
</p>

<p>
  <b>Pandian:</b>
  <%= @employee.pandian_id %>
</p>

<p>
  <b>Pandian password:</b>
  <%= @employee.pandian_password %>
</p>

<p>
  <b>Wiki:</b>
  <%= @employee.wiki_id %>
</p>

<p>
  <b>Wiki password:</b>
  <%= @employee.wiki_password %>
</p>

<p>
  <b>Sapience:</b>
  <%= @employee.sapience_id %>
</p>

<p>
  <b>Sapience password:</b>
  <%= @employee.sapience_password %>
</p>

<p>
  <b>Helpdesk:</b>
  <%= @employee.helpdesk_id %>
</p>

<p>
  <b>Helpdesk password:</b>
  <%= @employee.helpdesk_password %>
</p>

<p>
  <b>Deleted:</b>
  <%= @employee.deleted %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @employee.deleted_at %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
