<%- model_class = Invoice -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= form_tag invoices_path, :method => :get do %>
  <div class="control-group">
    <%= label_tag :search, "Search by Serial number:", :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :search, params[:search], :class => 'number_field' %>
      <%= submit_tag "Search", :name => nil , :class => 'btn btn-primary'%>
    </div>
  </div>
<% end %>

<%= form_tag filter_invoices_path, :method => :get do %>
  <div class="control-group">
    <div class="controls">
      <%= label_tag "cost","Filter By Price:", :class => 'control-label' %>
      <%= number_field_tag "cost", params[:cost] || '' %>
      <%= submit_tag "Filter", :name => nil , :class => 'btn btn-primary'%>
    </div>
  </div>
<% end %>

<%= form_tag filter_invoices_path, :method => :get do %>
  <div class="control-group">
    <div class="controls">
      <%= label_tag "invoice_date","Filter By Date:", :class => 'control-label' %>
      <%= date_select "invoice", "created_date", default: @date %>
      <%= submit_tag "Filter", :name => nil , :class => 'btn btn-primary'%>
    </div>
  </div>
<% end %>

<%= link_to 'Add Invoice',
            new_invoice_path,
            :class => 'btn btn-primary' %>

<% if @invoices and @invoices.count > 0 %>
  <%= render "invoice_list", :model_class => "#{model_class}".camelize.constantize %>
<% else %>
  <p>
    <br />
    Record Not Found
  </p>
<% end %>

