<%- model_class = Invoice -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:serial_number) %>:</strong></dt>
  <dd><%= @invoice.serial_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vendor_id) %>:</strong></dt>
  <dd><%= @invoice.vendor_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:purchase_order_id) %>:</strong></dt>
  <dd><%= @invoice.purchase_order_id? ? @invoice.purchase_order_id : "-" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:purchase_date) %>:</strong></dt>
  <dd><%= @invoice.purchase_date.strftime('%Y %B %d') %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mode) %>:</strong></dt>
  <dd><%= @invoice.mode? ? @invoice.mode : "-" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:note) %>:</strong></dt>
  <dd><%= @invoice.note? ? @invoice.note : "-" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cost) %>:</strong></dt>
  <dd><%= @invoice.cost %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              invoices_path, :class => 'btn'  %>
</div>
