<%- model_class = Device -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Faulty Devices" %></h1>
</div>
<%= form_tag faulty_devices_path, :method => :get do %>
  <%= render 'search' %>
<% end %>
<%= render 'devices' %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_device_path,
            :class => 'btn btn-primary' %>