<%= form_for([@vendor, @computer]) do |f| %>
  <% if @computer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@computer.errors.count, "error") %> prohibited this computer from being saved:</h2>

      <ul>
      <% @computer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :ip_address %><br />
    <%= f.text_field :ip_address %>
  </p>
  <p>
    <%= f.label :os %><br />
    <%= f.text_field :os %>
  </p>
  <p>
    <%= f.label :os_version %><br />
    <%= f.text_field :os_version %>
  </p>
  <p>
    <%= f.check_box :laptop %><%= f.label :laptop %>
  </p>
  <p>
    <%= f.label :branch %><br />
    <%= f.text_field :branch %>
  </p>
  <p>
    <%= f.label :provider %><br />
    <%= f.text_field :provider %>
  </p>
  <p>
    <%= f.label :warranty %><br />
    <%= f.text_field :warranty %>
  </p>
  <p>
    <%= f.submit "#{submt_btn}" %>
  </p>
<% end %>
