<h1>Computers List</h1>

<p><%= link_to 'Add Computer', new_vendor_computer_path %></p>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Ip address</th>
    <th>Os</th>
    <th>Os version</th>
    <th>Branch</th>
    <th>Provider</th>
    <th>Warranty</th>
    <th colspan="3">Action</th>
  </tr>

<% @computers.each do |computer| %>
  <tr>
    <td><%= computer.name %></td>
    <td><%= computer.ip_address %></td>
    <td><%= computer.os %></td>
    <td><%= computer.os_version %></td>
    <td><%= computer.branch %></td>
    <td><%= computer.provider %></td>
    <td><%= computer.warranty %></td>
    <td><%= link_to 'Show', vendor_computer_path(@vendor,computer) %></td>
    <td><%= link_to 'Edit', edit_vendor_computer_path(@vendor,computer) %></td>
    <td><%= link_to 'Delete', [@vendor,computer], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />

<div class="apple_pagination">
<%= will_paginate @computers %>
</div>
