<p>
  <b>Name:</b>
  <%= @computer.name %>
</p>

<p>
  <b>Ip address:</b>
  <%= @computer.ip_address %>
</p>

<p>
  <b>Os:</b>
  <%= @computer.os %>
</p>

<p>
  <b>Os version:</b>
  <%= @computer.os_version %>
</p>

<p>
  <%= check_box_tag 'computer', '', @computer.laptop %>
  <b>Laptop</b>
</p>

<p>
  <b>Branch:</b>
  <%= @computer.branch %>
</p>

<p>
  <b>Provider:</b>
  <%= @computer.provider %>
</p>

<p>
  <b>Warranty:</b>
  <%= @computer.warranty %>
</p>

<%= link_to 'Edit', edit_vendor_computer_path(@vendor, @computer) %> |
<%= link_to 'Back', vendor_computers_path(@vendor) %>
