<p>
  <b>Vendor:</b>
  <%= @quotation.vendor.name %>
</p>

<p>
  <b>Title:</b>
  <%= @quotation.title %>
</p>

<p>
  <b>Description:</b>
  <%= @quotation.description %>
</p>

<p>
  <b>Date:</b>
  <%= @quotation.date.strftime('%Y %B %d') %>
</p>

<p>
  <b>Cost:</b>
  <%= @quotation.cost %>
</p>

<p>
  <b>Accepted:</b>
  <%= @quotation.accepted? ? "Yes" : "No" %>
</p>

<div class="form-actions">
  <%= link_to 'Back', :back, :class => 'btn' %>
</div>

