<h1>Vendors list</h1>
<p><%= link_to 'Add vendor', new_vendor_path %></p>

<table border="1" width="100%">
  <tr>
    <th>Sl No.</th>
    <th>Name</th>
    <th>Email</th>
    <th>Website</th>
    <th colspan="3" >Action</th>
  </tr>

<% @vendors.each do |vendor| %>
  <tr>
    <td><%= vendor.id%></td>
    <td><%= vendor.name %></td>
    <td ><%= vendor.email %></td>
    <td><%= vendor.website %></td>
    <td><%= link_to 'Show', vendor %></td>
    <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
    <td><%= link_to 'Delete', vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br/>
<div class="apple_pagination">
<%= will_paginate @vendors %>
</div>
