<%- model_class = Vendor -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div style="float:right;">
  <ul>
    <li><%= link_to "Computers", vendor_computers_path(@vendor) %></li>
    <li>Assets</li>
    <li>Devices</li>
    <li>Accessories</li>
    <li><%= link_to "Quotations", vendor_quotations_path(@vendor) %></li>
    <li>Invoices</li>
    <li>Accessories</li>
  </ul>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @vendor.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @vendor.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @vendor.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @vendor.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @vendor.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_no) %>:</strong></dt>
  <dd><%= @vendor.contact_no %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fax_no) %>:</strong></dt>
  <dd><%= @vendor.fax_no %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mobile_no) %>:</strong></dt>
  <dd><%= @vendor.mobile_no %></dd>
  <dt><strong><%= model_class.human_attribute_name(:website) %>:</strong></dt>
  <dd><%= @vendor.website %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              :back, :class => 'btn'  %>
</div>
