<!DOCTYPE html>
<html>
  <head>
    <title>Assets Management</title>
    <%= stylesheet_link_tag "style"%>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="container">
      <span style="margin-left: 126px;font-size:30px;font-weight:bold">Assets Management</span>
      <div id="user_nav">
        <% if current_user %>
          Welcome <span style="font-style:italic"><%= current_user.email %></span>&nbsp;&nbsp;|&nbsp;
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
        <% end %>
      </div>
      <br /><br />
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
